body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    
}
h1{
    margin: 0 auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5em;
    color: #66BFBF;
}
h2{
    font-family: 'Merriweather', serif;
    font-size: 2em;
    line-height: 2;
    color: #66BFBF;
    font-weight: normal;
}
h3{
    font-family: 'Merriweather', serif;
    font-size: 1.5em;
    color: #11999E;
}
.top-container{
    background-color: #aeccc7;
    position: relative;
    padding-top: 150px;  
}
.middle-container{
    padding-top: 75px;
}
.bottom-container{
    padding: 50px 0 20px;
    background-color: #66BFBF;
}
.contact-me{
    padding-bottom: 75px;
}
.cloud1{
    position: absolute;
    right: 100px;
    top: 1px;
}
.cloud2{
    position: absolute;
    left: 100px;
    bottom: 265px;
}
.image{
    position: relative;
    height: 300px;
    vertical-align: middle;
    
}
.myself{
    height:200px ;
}
hr {
    background-color: white;
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 4px;
    width: 5%;
  }
.image2{
    height:200px;
}
a{
    color: #0e6598;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover{
    color: #EAF6F6;
}
.copyright{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    
}
.skill-img1{
    width: 20%;
    float: left;
    margin-right: 30px;
}
.skill-img2{
    width: 20%;
    float: right;
    margin-right: 30px;
}
.skill{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    
}
.skills{
    padding-bottom: 25px;
    line-height: 2;
}
.intro{
    width: 40%;
    margin: auto;
}
.btn {
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Merriweather', serif;
    color: #ffffff;
    font-size: 20px;
    background: #66BFBF;
    padding: 10px 22px 10px 22px;
    text-decoration: none;
  }
  .btn:hover {
    background: #1de0e0;
    text-decoration: none;
  }
.imgbox{
    position: absolute;
    right: 100px;
    top: 1px;
    animation: animateUser 4s linear infinite;
    margin-right:100px;
    margin-top: 50pX;
}
.imgbox2{
    position: relative;
    right: 100px;
    top: 1px;
    animation: animateUser 4s linear infinite;
    margin-left: -700px;
}

@keyframes animateUser{
    50%{
        right: 30px;
      
    }
}
